* { box-sizing: border-box; }
html{
  scroll-behavior: smooth;
  margin: 0px;
}
body {
  /* background-color: white; */
  margin: 0px;
  background-image: url('Images/Backgrounds/default3.png');
  background-size: 10%;
}
img {
  max-width: 100%;
}
h1{
  color: white;
}
h1:before{
  content: "";
  display:inline-block;
  height: 1px;
  width: 150px;
  background-color: #ff6666;
  position: relative;
  top: -10px;
  margin-right: 10px;
}
h1:after{
  content: "";
  display:inline-block;
  height: 1px;
  width: 150px;
  background-color: #ff6666;
  position: relative;
  top: -10px;
  margin-left: 10px;
}
h2{
  color: white;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 14px;
}
h4{
  color: white;
  font-size: 20;
  margin: 0px;
}
h4:before{
  content: "";
  display:inline-block;
  height: 1px;
  width: 520px;
  background-color: #ff6666;
  position: relative;
  top: -5px;
  margin-right: 10px;
}
h4:after{
  content: "";
  display:inline-block;
  height: 1px;
  width: 520px;
  background-color: #ff6666;
  position: relative;
  top: -5px;
  margin-left: 10px;
}
ul{
  list-style: none;
  margin: 0px;
  margin-top: 10px;
  padding-left: 20px;
}
p{
  font-size: 18;
  color: white;
  margin-right: 40px;
}
summary{
  color: white;
}

/******************** Media Classes ******************/
.mediaContainer{
  margin: 60 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 50%;
}
.media{
  margin-top: 5px;
  margin-left: 20px;
}
.loader {
  border-radius: 60%;
  border-top: 8px solid #ff6666;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/******************** Menu Classes ******************/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #ff6666;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

/******************** Container Classes ******************/
#contentContainer{
  width: 100%;
  height: 100%;
  background-image: url('Images/Backgrounds/default3.png');
  background-size: 10%;
  border-top: 2px solid #1B1A1A;
}

#aboutContainer{
  width: 100%;
  height: 100%;
  border-top: 2px solid #1B1A1A;
  background-image: url('Images/Backgrounds/default3.png');
  background-size: 10%;
}

#educationContainer{
  width: 100%;
  height: 100%;
  border-top: 2px solid #1B1A1A;
  background-image: url('Images/Backgrounds/default3.png');
  background-size: 10%;
}
#experienceContainer{
  width: 100%;
  height: 100%;
  border-top: 2px solid #1B1A1A;
  background-image: url('Images/Backgrounds/default3.png');
  background-size: 10%;
}
#projectContainer{
  width: 100%;
  height: 100%;
  border-top: 2px solid #1B1A1A;
  background-image: url('Images/Backgrounds/default3.png');
  background-size: 10%;
  overflow-y: scroll;
}
.iconHeaderContainer{
  float: left; 
  text-align: end; 
  width: 96%;
}
/******************** Project Classes ******************/
.projects{
  width: 100%;
  height:100%;
  background-color: black;
  border: 2px solid white;
}
.innerContainer{
  width: 95%; 
  height: 60%;
  margin-left: 10px;
}
/******************** Image Classes ******************/
.icon{
  fill: white;
}
.icon:hover{
  fill: #ff6666;
}
.arrows{
  color: #ff6666; 
  font-size: 18px;
}
.dirArrowUp{
  visibility: hidden;
}
.dirArrowDown{
  visibility: hidden;
}
.logo {
  border-radius: 10%;
  height: 60%;
  margin-top: 9.5px;
  border: 3px solid #ff6666;
  transition: all .2s ease-in-out; 
}
.logo:hover { 
  transform: scale(1.3); 
}
.logo2 {
  height: 18%;
  position: absolute;
  top: 105;
  right: 220;
  border: 3px solid #ff6666;
}
.logo2:hover {
  border: 3px solid white;
  transform: scale(1.3);
  transform: rotate(360deg);
  animation: spin 5s linear infinite;
}
@keyframes spin{
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.pic{
  width: 15%;
}
.pic:hover{
  transform: scale(1.3);
}
/******************** Other Classes ******************/
.headerContainer{
  z-index:1;
  width: 100%; 
  height: 10%; 
  position: fixed;
  margin: 0px;
  background-color: black;
}
.textContainer{
  width: 50%;
  margin: 105 auto 0 auto;
}
.featuredContainer{
  width: 90%;
  text-align: center;
  margin: 70 auto 0 auto;
}
.context{
  height: 55%;
  width: 95%;
}
.headingsContainer{
  text-align: center;
}
.flex-container {
  display: flex;
}
.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  margin: 0 auto 0 auto;
}
.summaryContainer{
  width: 65%;
}
.imageContainer{
  background-image: url('Images/Me/Levi.jpg');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  width: 25%;
}
.schoolHeadingContainer{
  text-align: center;
}

/******************** Paralax Classes ******************/
.paralax1, .pingPong, .uga, .ps, .sgsc, .vsu, .bball, .adidas{
  min-height: 450px;
  background-image: url('Images/Backgrounds/Atlanta.jpg');
  background-size: 100% 100%; 
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pingPong{
  min-height: 450px;
  background-image: url('Images/Backgrounds/pingpong.jpg');
  background-size: 100% 100%; 
}
.uga{
  min-height: 450px;
  background-image: url('Images/Backgrounds/uga.jpg');
  background-size: 100% 100%; 
}
.ps{
  min-height: 450px;
  background-image: url('Images/Backgrounds/ps.jpg');
  background-size: 100% 100%; 
}
.paralax2{
  min-height: 450px;
  background-image: url('Images/Backgrounds/tech.jpg');
  background-size: 100% 100%; 
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.paralax3{
  min-height: 450px;
  background-image: url('Images/Backgrounds/KSU.jpg');
  background-size: 100% 100%; 
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.sgsc{
  min-height: 450px;
  background-image: url('Images/Backgrounds/sgc.jpg');
  background-size: 100% 100%; 
}
.vsu{
  min-height: 450px;
  background-image: url('Images/Backgrounds/vsu.jpg');
  background-size: 100% 100%; 
}
.paralax4{
  min-height: 450px;
  background-image: url('Images/Backgrounds/network.jpg');
  background-size: 100% 100%; 
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bball{
  min-height: 450px;
  background-image: url('Images/Backgrounds/bball.jpg');
  background-size: 100% 100%; 
}
.adidas{
  min-height: 450px;
  background-image: url('Images/Backgrounds/adidas.jpg');
  background-size: 100% 100%; 
}
/******************** Font Classes ******************/
.span1{
  font-size: 40;
  color: white;
  font-family: Roboto;
  margin: 0;
}
.span1:hover{
  color: #ff6666;
}
.span2{
  font-size: 40;
  color: #ff6666;
  font-family: Roboto;
  margin: 0;
}
.span2:hover{
  color: white;
}
.span3{
  font-size: 25;
  color: white;
  font-family: Roboto;
  margin: 0;
  margin-left: 10px;
}
.span3:hover{
  color: white;
}
.span4{
  font-size: 14;
  color: white;
  font-family: Roboto;
  margin: 0;
}
.span4:hover{
  color: white;
}
.span5{
  font-size: 14;
  color: gray;
  font-family: Roboto;
  margin: 0;
}
.span5:hover{
  color: gray;
}
.span6{
  font-size: 40;
  color: white;
  font-family: Roboto;
}
.span7{
  font-size: 16;
  color: #ff6666;
  font-family: Roboto;
}
.span8{
  font-size: 16;
  color: white;
  font-family: Roboto;
}
.span9{
  font-size: 35;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 30px;
  color: white;
  font-family: Roboto;
}
.span10{
  font-size: 18;
  color: white;
  font-family: Roboto;
}
.span11{
  color: white;
  font-size: 20;
  margin: 0px;
}
.span12{
  font-size: 16;
  color: #ff6666;
  font-family: Roboto;
}
.span13{
  font-size: 16;
  color: white;
  font-family: Roboto;
}
/******************** Button Classes ******************/
.btn{
    position: absolute;
    bottom: 30;
    right: 30;
    background-color: black;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #ff6666;
}
.btn:hover {
    background-color: white;
    color: black;
}

/******************** Tab Classes ******************/

/* Tab 1 */
.tab {
  overflow: hidden;
  margin: 0 auto 0 auto;
  text-align: center;
}
.tabContainer {
  margin-left: 100px;
  overflow: hidden;
  display: inline-block;
  background-color: #1B1A1A;
  margin: 0 auto 0 auto;
}
.tab button {
  background-color: inherit;
  color: gray;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 2px solid white;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #1B1A1A;
  border-bottom: 2px solid #ff6666;
  color: #ff6666;
}

.tabcontent {
  width: 52%;
  display: none;
  padding: 6px 12px;
  margin: 30 auto 0 auto;
}

/* Tab 2 */

.tab2 {
  overflow: hidden;
  margin: 0 auto 0 auto;
  text-align: center;
}
.tabContainer2 {
  margin-left: 100px;
  overflow: hidden;
  display: inline-block;
  background-color: #1B1A1A;
  margin: 0 auto 0 auto;
}
.tab2 button {
  background-color: inherit;
  color: gray;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 2px solid white;
}

.tab2 button:hover {
  background-color: #ddd;
}

.tab2 button.active {
  background-color: #1B1A1A;
  border-bottom: 2px solid #ff6666;
  color: #ff6666;
}

.tabcontent2 {
  width: 52%;
  display: none;
  padding: 6px 12px;
  margin: 30 auto 0 auto;
}
/******************** Phone  ***************'********/

@media only screen and (max-width: 420px) {
   
  /******************** Menu Classes ******************/
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

  /******************** Container Classes ******************/
  #contentContainer{
    border-top: 2px solid #1B1A1A;
    margin: 0px;
  }
  #aboutContainer{
    border-top: 2px solid #1B1A1A;
  }
  #educationContainer{
    border-top: 2px solid #1B1A1A;
  }
  #projectContainer{
    border-top: 2px solid #1B1A1A;
  }
  div.headerContainer{
    width: 99.5%; 
    background-color: black;
  }
  .iconHeaderContainer{
    width: 88%;
  }
  div.textContainer{
    width: 91%;
    margin: 100 auto 0 auto;
  }
  div.featuredContainer{
    margin-top: 55px;
    width: 85%;
  }
  div.projects{
    width: 80%;
    margin: 0 auto 0 auto;
  }
  div.projects2{
    width: 80%;
    margin: 0 auto 0 auto;
  }
  div.innerContainer{
    height: 60%;
    width: 95%;
  }
  div.context{
    height: 55%;
    width: 96%;
  }
  div.carousel{
    width: 95%;
    height: 44%;
  }
  div.carousel-cell{
    width: 100%;
    margin-top: 10px;
  }
  div.flex-container{
    flex-direction: column;
  }
  div.summaryContainer{
    width: 95%;
  }
  div.imageContainer{
    visibility: hidden;
  }
  /******************** Parallax Classes ******************/
  div.paralax1{
    visibility: hidden;
    min-height: 0px;
  }
  div.paralax2{
    visibility: hidden;
    min-height: 0px;
  }
  div.paralax3{
    visibility: hidden;
    min-height: 0px;
  }
  div.paralax4{
    visibility: hidden;
    min-height: 0px;
  }
  div.pingPong{
    visibility: hidden;
    min-height: 0px;
  }
  div.uga{
    visibility: hidden;
    min-height: 0px;
  }
  div.ps{
    visibility: hidden;
    min-height: 0px;
  }
  div.sgsc{
    visibility: hidden;
    min-height: 0px;
  }
  div.vsu{
    visibility: hidden;
    min-height: 0px;
  }
  div.bball{
    visibility: hidden;
    min-height: 0px;
  }
  div.adidas{
    visibility: hidden;
    min-height: 0px;
  }
  /******************** Font Classes ******************/
  p{
    font-size: 15;
    margin-right: 10px;
  }
  span.span1{
    font-size: 25;
  }
  span.span2{
    font-size:25;
  }
  span.span3{
    font-size:25;
    margin-left: 130px;
  }
  span.span7{
    font-size: 15;
  }
  .span8{
    font-size: 15;
  }
  .span12{
    font-size: 12;
  }
  .span13{
    font-size: 12;
  }
  img.logo{
    margin-top: 11px;
  }
  img.logo2{
    visibility: hidden;
  }
  h1:before{
    content: "";
    display:inline-block;
    height: 1px;
    width: 75px;
    background-color: #ff6666;
    position: relative;
    top: -10px;
    margin-right: 12px;
  }
  h1:after{
    content: "";
    display:inline-block;
    height: 1px;
    width: 75px;
    background-color: #ff6666;
    position: relative;
    top:-8px;
    margin-right: 12px;
  }
  h4:before{
    content: "";
    display:inline-block;
    height: 1px;
    width: 75px;
    background-color: #ff6666;
    position: relative;
    top: -5px;
    margin-right: 12px;
  }
  h4:after{
    content: "";
    display:inline-block;
    height: 1px;
    width: 75px;
    background-color: #ff6666;
    position: relative;
    top: -5px;
    margin-right: 12px;
  }
  /******************** Image Classes ******************/
  svg.icon{
    margin: 0px;
  }
  /******************** Button Classes ******************/
  button.btn{
    right: 130;
    bottom: 50;
  }

  /******************** Tab Classes ******************/
  .tab {
    overflow: hidden;
    background-color: gray;
    width: 95%;
    margin: 60 auto 0 auto;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 12px;
    width: 33.3%;
    border-bottom: 2px solid white;
  }
  .tabcontent {
    width: 95%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin: 30 auto 0 auto;
  }

  /******************** Tab Classes ******************/
  .tab2 {
    background-color: #1B1A1A;
    width: 95%;
    margin: 60 auto 0 auto;
    
  }
  .tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    width: 50%;
    border-bottom: 2px solid white;
  }
  .tabcontent2 {
    width: 95%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin: 30 auto 0 auto;
  }
  #expDefaultOpen{
    padding-top: 15px;
    padding-bottom: 26px;
  }
}